body {
   display:inline;
   text-align: center;
   padding: 0;
   background-color: ivory;
   font-family: Verdana, sans-serif;
}
#container {
   margin: 0 auto;
   padding: 0 20px 10px 20px;
   border: 2px solid #666666;
   height: 50px;
   width: 1000px;  
   background: #FFFFFF url(#{request.contextPath}/resources/images/banner.png) no-repeat;
   padding-top: 200px;
}
#sidebar {
   font-size: 0.9em;
   width: 225px;
   float: right;
   border: 1px solid #666666;
   background: #EAECEE;
   padding: 0 15px 5px 15px;
}
#sidebar ul {
   padding-left: 30px;
}
#footer {
   clear: both;
   text-align: center;
   color: #666666;
   font-size: 0.85em;
   padding: 3em 0 0 0;
}
code {
   font-size: 1.1em;
}
span.invalid {
   padding-left: 3px;
   color: red;
}

#table {
    width: 900px;
}

#content {
    margin-top: 100px;
    border: 5px;
    border-color: antiquewhite;
    border-style: groove;
}

table.miTabla{
    margin-top: 20px;
    margin-left: 8%;
    width: 800px;
    text-align: center;
}

table.miTablaProductosCesta{
    color: cornflowerblue;
   text-align: end;
   display: inline-block;

}
table.miTablaProductosCesta tr td{
    height: 30px;
}

div.basketTotal{
    color: cornflowerblue;
}
